.nav-expanded{
    background: white;
    width: 150px;
    height: 100vh;
    border-top-right-radius: 20px;
}

.nav-expanded .content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
}

.nav-expanded .title{
    height: 57px;
    line-height: 57px;
    font-weight: bold;
}

.nav-expanded .wrapper{
    margin-top: 60px;
}