.nav-sidbar{
    height: 100vh;
    width: 80px;
    background: black;
}

.nav-sidebar--expanded{
    width: 325px;
}

.nav-header{
    cursor: pointer;
}

.nav-filters{
    margin-top: 60px;
}

.nav-config{
    position: relative;
    top: 40%;
}

.nav-sidebar__item{
    display: flex;
    justify-content : center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 0;
}

.nav-sidebar__item--selected{
    background: white;
    color: black;
    margin-left: auto;
    border-radius: 10px 0 0 10px;
}