.nav-sidbar{
    height: 100vh;
    width: 80px;
    background: black;
    display: flex;
    flex-direction: column;
}

.nav-sidebar--expanded{
    width: 325px;
}

.nav-header{
    cursor: pointer;
}

.nav-filters{
    margin-top: 60px;
}

.nav-config{
    margin-top: auto;
    margin-bottom: 40px;
}

.nav-sidebar__item{
    display: flex;
    justify-content : center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 5px 0;
}

.nav-sidebar__item--selected{
    background: white;
    color: black;
    border-radius: 10px 0 0 10px;
}

.nav-sidebar__item--selected .svg .b{
    stroke: black;
}

.svg{
    width: 30px;
}